.form-inscription{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  margin: 50px auto;
  padding: 2em;
  
}


/* Slider */

.slider {
    position: relative;
    margin: auto;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  /* !je vais enlever la partie css pour les fleches pour le projet de la boutique */
  /* .slider .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.427);
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }
  .slider .arrow.prev {
    top: 50%;
    left: 15px;
    color: red;
  }
  
  .slider .arrow.next {
    top: 50%;
    right: 15px;
    color: red;
  } */
  /* !fin des fleches */

  /* End of slider */

  